# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Pantheon2D_StrategyPrototype.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\kaanc\Desktop\Pantheon2D_StrategyPrototype\.idea\.idea.Pantheon2D_StrategyPrototype\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
