# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Entity.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\kaanc\Desktop\Pantheon2D_StrategyPrototype\Assets\Scripts\Entity\.idea\.idea.Entity.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
